<div class="mt-4">
    <a href="/user" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
        </svg> Trở về trang chủ
    </a>

    <div class="d-flex justify-content-center mt-4">
        <div class="me-2">
            <label for="month" class="form-label">Tháng</label>
            <select class="form-select" id="cbMonth">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="ms-2">
            <label for="year" class="form-label">Năm</label>
            <select class="form-select" id="cbYear">
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
        </div>
    </div>
    <div style="text-align: center;">
        <h3 style="margin-top: 20px;">Phiếu báo điện nước ({{status}})</h3>
        <p style="display: inline-block;">{{Payment.name}} Tháng {{Payment.month}} Năm {{Payment.year}}</p><br>
        <p style="display: inline-block;">Điện: Số mới: {{Payment.eNew}} - Số cũ: {{Payment.eOld}} =
            {{Payment.eConsumption}} KW x 4.000 đ = {{Payment.eTotal}} đ</p><br>
        <p style="display: inline-block;">Nước: Số mới {{Payment.wNew}} - Số cũ {{Payment.wOld}} =
            {{Payment.wConsumption}}
            m<sup>3</sup> x 6.000 đ = {{Payment.wTotal}} đ</p><br>
        <p style="display: inline-block;">Tiền rác = 20.000 đ</p><br>
        <p style="display: inline-block;">Tổng cộng = {{Payment.totalPay}} đ</p><br>
        <p style="display: inline-block;">Thời hạn thanh toán là 2 ngày, kể từ ngày nhận phiếu</p><br>
        <hr>
    </div>

    <script>
        const cbMonth = document.getElementById('cbMonth');
        const cbYear = document.getElementById('cbYear');

        var month = getCookie('monthLast');
        var year = getCookie('yearLast');

        if (month != undefined && year != undefined) {
            cbMonth.value = getCookie('monthLast');
            cbYear.value = getCookie('yearLast');
        }

        cbMonth.onchange = showData;
        cbYear.onchange = showData;

        function showData() {
            window.location.href = "/user/checkpayment?month=" + cbMonth.value + "&year=" + cbYear.value;
        }

        function getCookie(name) {
            const cookieName = name + "=";
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i];
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1);
                }
                if (cookie.indexOf(cookieName) === 0) {
                    return cookie.substring(cookieName.length, cookie.length);
                }
            }
            return "";
        }

        function setCookie(name, value, days = 365) {
            const date = new Date();
            date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
            const expires = "expires=" + date.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }
    </script>