{{#each Payment}}
<div style="text-align: center;">
    <h3>Phiếu báo điện nước</h3>
    <p style="display: inline-block;">{{this.name}} Tháng {{this.month}} Năm {{this.year}}</p><br>
    <p style="display: inline-block;">Điện: Số mới: {{this.eNew}} - Số cũ: {{this.eOld}} = {{this.eConsumption}} KW x 4.000 đ = {{this.eTotal}} đ</p><br>
    <p style="display: inline-block;">Nước: Số mới {{this.wNew}} - Số cũ {{this.wOld}} = {{this.wConsumption}} m<sup>3</sup> x 6.000 đ = {{this.wTotal}} đ</p><br>
    <p style="display: inline-block;">Tiền rác = 20.000 đ</p><br>
    <p style="display: inline-block;">Tổng cộng = {{this.totalPay}} đ</p><br>
    <p style="display: inline-block; margin-bottom: 30px;">Thời hạn thanh toán là 2 ngày, kể từ ngày nhận phiếu</p><br>
    <hr>
  </div>
{{/each}}