<div class="mt-4">
    <a href="/manage" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
        </svg> Trở về trang chủ</a>
    <div class="mt-4 text-center">
        <h1 class="mb-4">Quản lí phòng</h1>
        <a href="/room/create" class="btn btn-primary">Thêm phòng mới</a>
    </div>
    {{#if Room.length}}
    <div class="table-container">
    <table class="table mt-4 table-hover">
        <thead>
            <tr>
                <th scope="col">Tên Phòng</th>
                <th scope="col">Người Thuê</th>
                <th scope="col">Tình Trạng</th>
                <th scope="col">Thao Tác</th>
            </tr>
        </thead>
        <tbody>

            {{#each Room}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.owner}}</td>
                <td>
                    <input type="checkbox" value="true" id="status" name="status" {{this.status}} disabled>
                </td>
                <td>
                    <a href="/room/{{this._id}}/edit" class="btn btn-primary btn-sm">Sửa</a>
                    <a href="" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-room">Xóa</a>
                </td>
            </tr>

            {{/each}}
            {{else}}
            <tr>
                <td colspan="5">
                    <h3>Danh sách phòng hiện đang trống!!!</h3>
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
    </div>
</div>

{{!-- Hidden form delete --}}
<form name="delete-room-form" action="" method="POST"></form>

<div class="modal fade" id="delete-room" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa phòng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn phòng này ?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-room" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<script>
    const roomModal = document.getElementById('delete-room');
    var idRoom;
    const btnDeleteRoom = document.getElementById('btn-delete-room');
    const deleteForm = document.forms['delete-room-form'];
    if (roomModal) {
        roomModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const idRoom = button.getAttribute('data-id');

            btnDeleteRoom.onclick = function () {
                deleteForm.action = '/room/' + idRoom + '?_method=DELETE';
                deleteForm.submit();
            }

        })
    }
</script>